.chipContainer{
  display: flex;
  flex-direction: row-reverse;
}

.chip{
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #272e45;
  border-radius: 10px;
  max-width: 120px;
  justify-content: space-between;
}

.chip span{
  font-size: 16px;
  color: #738ee6;
}
.chip p{
  font-size: 14px;
  color: #738ee6;
}