.chipContainer{
  width: 100%;
  display: flex;
  gap: 10px;
}

.chip{
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  /* background: #272e45; */
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  justify-content: space-between;
  cursor: pointer;
}

.chip span{ 
  font-size: 16px;
  color: #738ee6;
  padding: 0;
  margin: 0;
}
.chip p{
  font-size: 14px;
  color: #738ee6;
  padding: 0;
  margin: 0;
}