.smallBtn{
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0, 0 10px rgba(0,0,0,1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.smallBtn:hover{
  background: var(--button-onhover)
}
.smallBtn span{
  pointer-events: none;
}
.smallBtn.inactive{
  background-color: var(--button-bg);
  pointer-events: none;
  
}
.smallBtn.active{
  background-color: var(--button-active);
  pointer-events: auto;
}


.smallBtn.active.draw{
  background-color: rgb(255, 0, 0);
}

.smallBtn.active.summarise{
  background-color: rgb(19, 57, 182);
}


.smallBtn.active.code{
  background-color: rgb(14, 112, 23);
}


.smallBtn.active.story{
  background-color: rgb(55, 11, 136);
}


.smallBtn.active.learn{
  background-color: rgb(138, 87, 11);
}