.loadingBars{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.loadingBar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 15px;
  background-image: linear-gradient(to right, #2691F3, #682EA6, #2691F3);
  border-radius: 6px;
  animation: bag-load 3.6s linear infinite;
}

.loadingBar:nth-child(2) {}

.loadingBar:nth-child(3) {
  width: 60%;
}

@keyframes bag-load {
  100% {
    background-position-x: 2000px;
  }
}