

.left-sidebar{
  background-color: rgba(255, 255, 255, 0.05);
  height: 100%;
  width: 300px;
  flex: 1;
  /* backdrop-filter: blur(10px); */
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.left-sidebar.collapsed{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 97%;
  border-radius: 10px;
  z-index: 1000;
  width: 60px;
  overflow: hidden;
  transition: width 0.3s ease;
}

.left-sidebar.collapsed .sidebar-collapse-btn{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.left-sidebar.collapsed:hover .sidebar-collapse-btn{
    opacity: 1;
    pointer-events: auto;
}
.left-sidebar.collapsed:hover{
    width: 300px;
}

.left-sidebar.collapsed:hover .recent-chats{
    opacity: 1;
    pointer-events: auto;
}

.left-sidebar.collapsed .recent-chats{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.left-sidebar.collapsedd .setting-btn{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.left-sidebar.collapsed:hoverr .setting-btn{
    display: flex;
    padding: 10px 15px 10px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}



.left-sidebar.collapsed .setting-btn p{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.left-sidebar.collapsed:hover .setting-btn p{
    opacity: 1;
}

.left-sidebar.collapsed .new_chat_button p{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.left-sidebar.collapsed:hover .new_chat_button p{
    opacity: 1;
}

.right-sidebar{
  /* position: absolute;
  right: 0;
  top: 0; */
  flex: 1;
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
  top: auto;
  right: 10px;
  height: 97%;
  width: 250px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  /* animation: rightsideshow 0.5s ease; */
  display: none;
  flex-direction: column;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

@keyframes leftsideshow {
  from{
    transform: translateX(-40px);
    opacity: 0.5;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightsideshow {
  from{
    transform: translateX(40px);
    opacity: 0.5;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.left-sidebar.show, .right-sidebar.show{
  display: flex;
}

@media (max-width: 768px){
  .left-sidebar.show{
    display: none;
  }
  .result{
    margin: 0;
    border-radius: 0;
  }
  .result-header{
    padding: 0 10px;
  }
  .right-sidebar.show{
    display: none;
  }
}


.left-sidebar-header{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  /* border-bottom: 1px solid #333232; */
}
.left-sidebar-header img{
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.right-sidebar-header{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
  /* border-bottom: 1px solid #333232; */
}

.sidebar-collapse-btn{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar-collapse-btn:hover{
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

.left-sidebar-header h1{
  font-family: GeneralSans-Medium;
  color: #fff;
  margin: 0;
}

.left-sidebar-body{
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  overflow-y: scroll;
}

.right-sidebar-body{
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}

.new_chat_button{
  max-width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  border-radius: 10px;
  color: #fff;
  font-family: GeneralSans-Medium;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

.new_chat_button:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.new_chat_button span{
  font-size: 20px;
  margin-bottom: 2px;
}

.new_chat_button p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}



.recent-chats{
  margin-top: 20px;
  flex: 1;
}
.recent-chats h3{
  font-family: GeneralSans-Medium;
}


.sidebar-footer{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
} 

.setting-btn{
    width: 120px;
    height: 40px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.sidebar-footer .setting-btn:hover{
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

.sidebar-footer .setting-btn span{
    font-size: 20px;
}

.sidebar-footer .setting-btn p{
  font-weight: 600;
}


@media (max-width: 1000px){
  .right-sidebar.show{
    display: none;
  }
}


.left-sidebar.closed{
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
}





.right-sidebar-footer{
  padding: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  
}


.right-sidebar-footer .footer-logo{
  display: flex;
  gap: 5px;
  align-items: center;
}

.footer-logo img{
  width: 20px;
  height: 20px;
}

.footer-logo p{
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  font-weight: 500;
}

.footer-logo .logo-txt{
  font-family: GeneralSans-Medium;
}


.dvlpr p{
  font-size: 14px;
  margin-left: 3px;
}

.dvlpr p a{
  font-family: GeneralSans-Medium;
  pointer-events: auto;
  cursor: pointer;
}


.recent-chats-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.no-recents{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 50px;
}

.no-recents span{
  font-size: 50px;
  color: rgba(255, 255, 255, 0.5);
}

.no-recents h4{
  font-size: 18px;
  font-family: GeneralSans-Regular;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}