.toast{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    animation: showToast 0.3s;
}

.toast.hide{
    animation: hideToast 0.3s;
}

@keyframes showToast{
    from{
        opacity: 0.8;
    }
    to{
        opacity: 1;
    }
}

@keyframes hideToast{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.8;
    }
}